


<div class='main-page'>



<a class='movies-link' href='/movies'>
<img src='/images/movie-icon.png'>
</a>


<a class='celebs-link' href='/celebrities'>
<img src='/images/celeb-icon.png'>
</a>




</div>
