


<div class='main-page'>



<a href='/movies'>
    <img src='/images/movie-icon.png'>
    <p>Movies</p>
</a>


<a href='/celebrities'>
    <img src='/images/celeb-icon.png'>
    <p>Celebrities</p>
</a>


{{#if theUser}}
<a href='/users/secret'>
    <img src='/images/profile-icon.jpg'>
    <p>Secret</p>
</a>
{{/if}}



</div>
